/*----------------------------------------------------RESET--------------------------------------------*/

* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------------------------------------General---------------*/
    *{
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    body {
      min-width: 1000px;
      width: 1000px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
.player1,
.player2 {
  width: 120px;
  height: 120px;
  margin: 20px 20px;
  float: left;
  background-color: lightgrey;
  border-radius: 5px;
}
.player2 {
  float: right;
}
.dices-player1, .dices-player2 {
  width: 600px;
  height: 120px;
  margin: 20px auto;
  float: left;
  background-color: lightgrey;
  border-radius: 5px;
}
.dices-player2 {
  float: right;
}

button[id*="dice"]{
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  background-color: #999;
  color: #000;
  border-radius: 5px;
  font-size: 45px;
  padding-top: 10px;
}
.clearfix {
    clear: both;
}
#roll {
  width: 300px;
  height: 45px;
  margin: 30px auto;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 24px;
  background-color: #aaa;
}
